

<div>
    <iframe width="560" height="315" [src]="videoUrl|safe"
     frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen></iframe>
     
        </div>
        <div>

        
    <form>
        <div class="form-group" *ngIf="editTitle">
            <input  class="form-control" type="input" name="title" required placeholder="title" [(ngModel)]="video.title">
        </div>
        <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
        <div class="form-group" >
                <input class="form-control" type="input" name="url" required placeholder="url" [(ngModel)]="video.url">
                
            </div>
            <div class="form-group" >
                    <textarea class="form-control" name="desc"  rows="5" [(ngModel)]="video.description">
                        </textarea>
                    
                </div>
    </form>
    <button type="button" (click)="updateVideo()" class="btn btn-primary">Update</button>
<button type="button" (click)="deleteVideo()" class ="btn btn-danger">Delete</button>
</div>