<div class="container" >
    <div class="row">
    <div class="col-xs-12">
    <div class="jumbotron">
      <h1 style="text-align:center">VideoPlayer</h1>
      </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
      <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="  userForm.valid && forgot_password(userForm)">
              <div class="row">
                      <div class="col-sm-12">
                              <div class="form-group">
                                  <label  for="email">Email</label>
                                  
     <input type="text" name= "email" class="form-control" id="email" placeholder="Enter Email" ngModel required #email="ngModel" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
     <div *ngIf="email.invalid && (email.dirty || email.touched)"
     class="alert alert-danger">
    
    <div *ngIf="email.errors.required">
    Email is required.
    </div>
    <div [hidden]="!email.errors?.pattern">
           Enter valid emailId.
         </div> 
    </div>     
                              </div>
                              </div>
                              </div>



                              <div class="row">
                                  <div class="col-sm-12">
                                          <button type="submit"  [disabled]="!userForm.form.valid" class="btn btn-primary ">Submit</button>      
                                        
                                      </div>
           </div>
                           
         </form>
               
                          
    </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div *ngIf="showDivSuccess"
            class="alert alert-success">
            Kindly check your email for further instructions.
            </div>
</div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div *ngIf="showDivError"
        class="alert alert-danger">
    
        {{errorMessage}}
        </div>
</div>
</div>
    </div>